
.advantage-title {
  color: var(--text-primary-black);

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

ul.adv-list {
  display: flex;
}

ul.adv-list .advantage-title {
  margin-bottom: 10px;
}

ul.adv-list > .item:not(:last-child) {
  margin-right: 30px;
}

.advantage .thumb {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--bg-secondary-white);
}