.main-logo.footer-logo {
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-main-black);
}

.studio-footer {
  color: var(--text-full-white);
}

.address {
  color: var(--text-full-white);
}

.address-accent {
  transition: color 250ms var(--cubic_animation);
}

.address-accent:hover,
.address-accent:focus {
  color: var(--primary-blue);
}

.footer-address {
  font-style: normal;
}

.footer-address .item:not(:last-child) {
  margin-bottom: 12px;
}

.address-opacity {
  color: var(--opacity-white);
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer-address-thumb {
  margin-right: 70px;
}

.footer-social-thumb {
  padding-top: 12px;
  margin-right: 93px;
}

.footer-text {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--text-full-white);
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--bg-header-white);

  transition: background-color 250ms var(--cubic_animation);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--primary-blue);
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-text {
  margin-bottom: 20px;

  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-full-white);
}

.subscribe-email-input {
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--bg-main-black);
  color: var(--opacity-white);

  font-size: 16px;
  line-height: 1.25;

  outline: none;
  transition: border-color 250ms var(--cubic_animation);
}

.subscribe-email-input:focus,
.subscribe-email-input:hover {
  border-color: var(--primary-blue);
}

.subscribe-button {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  background: var(--primary-blue);
}

.footer-submit-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: #ffffff;
}