.our-team {
  background-color: var(--bg-secondary-white);
}

ul.team-members {
  display: flex;
}

.team-members > .item:not(:last-child) {
  margin-right: 30px;
}

.team-members > .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--bg-header-white);
}

.team-member {
  margin-bottom: 10px;
  text-align: center;

  color: var(--text-primary-black);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

ul.team-members .team-role {
  text-align: center;

  font-size: 16px;
  line-height: 1.19;
}

.team-members .team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-info p {
  margin-bottom: 16px;
}

.member-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-social-item {
  width: 44px;
  height: 44px;
}

.member-social-item:not(:last-child) {
  margin-right: 10px;
}

.member-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background-color: var(--bg-header-white);
  fill: var(--social-icon-fill);

  transition: background-color 250ms var(--cubic_animation),
    fill 250ms var(--cubic_animation);
}

.member-social-link:hover,
.member-social-link:focus {
  background-color: var(--primary-blue);
  fill: var(--bg-header-white);
}